@import "~bootstrap/scss/bootstrap";
@import "partials/variables";

@import "partials/header";

main {
    #jumbotron {
        height: 260px;
        background-image: url("../img/jumbotron.jpg");
        background-size: cover;
        background-position: top center;
    }

    #current_series {
        top: -40px;
        left: 0;
    }

    img {
        aspect-ratio: 1/1;
    }
}

h4 {
    color: $light;
}

a {
    text-decoration: none;
}

a {
    color: $secondary;
}

li {
    list-style: none;

    button {
        color: $secondary;
        font-size: 0.7rem;
    }
}

@import "partials/banner";

@import "partials/footer";
