@import '~bootstrap/scss/bootstrap';
@import 'partials/variables';

@import 'partials/header';

main {
    #jumbotron {
        height: 260px;
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        background-position: top center;
        }

        #current_series {
            top: -40px;
            left: 0;
        }
}

h4 {
    color: #ffffff;
  }

  a {
    text-decoration: none;
  }

  a {
    color: #5d5e64;
  }

  li {
    list-style: none;

    button {
      color: #5d5e64;
      font-size: .7rem;
    }
  }

@import 'partials/banner';

@import'partials/footer';
