@import "~bootstrap/scss/bootstrap";

#app_footer {
    #footer_top {
        background-image: url("../img/footer-bg.jpg"),
            url("../img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-position: right 10% bottom 45%;
        background-blend-mode: overlay;
    }

    ul {
        list-style: none;

        h6 {
            font-weight: bold;
        }

        p {
            font-size: 0.5rem;
        }

        a {
            font-size: 0.7rem;
            text-decoration: none;
            color: $secondary;
        }

        a:hover {
            color: $light;
        }
    }

    #footer_bottom {
        background-color: $dark;
        min-height: 110px;

        .col {
            height: 110px;

            .my_btn {
                border: 2px solid $primary;
                border-radius: 0;
                color: $light;
                padding: 0.5rem;
            }

            p {
                color: $primary;
            }
        }
    }
}
